* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* { box-shadow: none !important;  -ms-touch-action: pan-y; }

html { margin:0;padding:0; -webkit-font-smoothing: antialiased;}
body {
    -webkit-text-size-adjust: 100%;
    font-size: 14px;  
    line-height: 1.4;
    color: #5c6874;
    font-weight: 400;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    width: 100%;
    min-width: 980px;
    max-width: 1400px;
	box-sizing: border-box;
}	 

/*--------Adaptive-------*/
.clear:before, .clear:after {  content: " ";  display: table;}
.clear:after { clear: both;}

.clearboth { clear: both;}

.row:before, .row:after {  content: " ";  display: table;}
.row:after { clear: both;}
.row {  margin-left: -15px;  margin-right: -15px; }

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {  
    float: left;  
    padding: 0 15px;

}
.col-md-12 { width: 100%;  }
.col-md-11 { width: 91.66666667%; }
.col-md-10 { width: 83.33333333%; }
.col-md-9 { width: 75%; }
.col-md-8 { width: 66.66666667%; }
.col-md-7 { width: 58.33333333%; }
.col-md-6 { width: 50%; }
.col-md-5 { width: 41.66666667%; }
.col-md-4 { width: 33.33333333%; }
.col-md-3 { width: 25%; }
.col-md-2 { width: 16.66666667%; }
.col-md-1 { width: 8.33333333%; }


.floatleft {float: left !important;}
.floatright {float: right !important;}
.aligncenter {text-align: center;}
.alignright {text-align: right;}
.alignleft{text-align: left;}
.alignjustify { text-align: justify;}
.valigntop { vertical-align: top !important;}
.valignbottom { vertical-align: bottom !important;}
.valignmiddle { vertical-align: middle !important;}
.b, strong, b {font-weight: bold;}
.i, em {font-style: italic;}
.absolute {position: absolute;}
.relative {position: relative !important;}
.radius {-webkit-border-radius: 4px;	-moz-border-radius: 4px;border-radius: 4px;}
.semiopacity { opacity: 0.7; -moz-opacity: 0.7; }
.nowrap {white-space: nowrap;}
.linethrough, .line-through { text-decoration: line-through;}

.b200 { font-weight: 200;}
.b400 { font-weight: 400;}
.b600 { font-weight: 600;}

.block {display: block !important;}
.none {display: none !important;}
.inline-block {display: inline-block !important; vertical-align: middle;}
.inline {display: inline !important;}
.table { display: table; width: 100%; vertical-align: top;}
.table-cell { display: table-cell;}
.table > .table-cell { vertical-align: top;}

h1, .h1, h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 { }
h1, .h1 { line-height: 1.2;}
h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 { line-height: 1.2; }

h1, .h1 {font-size: 32px; margin-bottom: 25px !important;}
h2, .h2 {font-size: 23px;}
h3, .h3 {font-size: 19px;}
h4, .h4 {font-size: 17px;}
h5, .h5 {font-size: 16px;}
h6, .h6 {font-size: 16px;}
h1, h2, h3, .h1, .h2, .h3 {margin-bottom: 10px; }
h4, h5, h6, .h4, .h5, .h6 {margin-bottom: 10px; }

.font10 {font-size: 10px !important; }
.font11 {font-size: 11px !important; }
.font12 {font-size: 12px !important; }
.font13 {font-size: 13px !important; }
.font14 {font-size: 14px !important; }
.font15 {font-size: 15px !important; }
.font16 {font-size: 16px !important; }
.font17 {font-size: 17px !important; }
.font18 {font-size: 18px !important; }
.font20 {font-size: 20px !important; }
.font22 {font-size: 22px !important; }
.font24 {font-size: 24px !important; }
.font26 {font-size: 26px !important; }
.font28 {font-size: 28px !important; }
.font30 {font-size: 30px !important; }
.font36 {font-size: 36px !important; }
.font40 {font-size: 40px !important; }
.font72 {font-size: 72px !important; }

.lh1 { line-height: 1;}
.lh16 { line-height: 16px;}
.lh20 { line-height: 20px;}

a, button { cursor: pointer;}

.overflow { overflow: hidden;}
.hover {text-decoration: none !important;}
.hover:hover {text-decoration: underline !important;}
.unhover {text-decoration: underline !important;}
.unhover:hover {text-decoration: none !important;}
.up {text-transform: uppercase;}

:hover, :hover * { t-webkit-ransition: color 0.1s linear; -moz-transition: color 0.1s linear; -o-transition: color 0.1s linear; transition: color 0.1s linear;}

hr {
    background-color: transparent;
    border: medium none;
    height: 1px;
    margin-bottom: 20px;
    margin-top: 6px;
}
.underline { text-decoration: underline;}


p {margin-bottom: 15px;}
img { max-width: 100%; max-height: 100%;}

.colorwhite {color: #fff !important;}
.colorblack { color: #2C3E50;}
.colorgrey {color: #858585;}
.colordarkgrey {color: #868686;}
.colorred {color: #DB5201;}
.colorblue {color: #267dff;}
.colorlblue {color: #1E8BC3;}
.colorpink {color: #fa889f;}
.colorgreen {color: #568522;}
.colorred {color: #fd1010;}

.black { background-color: black;}


.mgt0 {margin-top: 0 !important;} .mgt5 {margin-top: 5px !important;} .mgt10 {margin-top: 10px !important;} .mgt15 {margin-top: 15px !important;} .mgt20 {margin-top: 20px !important;} .mgt25 {margin-top: 25px !important;} .mgt30 {margin-top: 30px !important;} .mgt35 {margin-top: 35px !important;} .mgt40 {margin-top: 40px !important;} .mgt45 {margin-top: 45px !important;} .mgt50 {margin-top: 50px !important;} .mgt70 {margin-top: 70px !important;} .mgt75 {margin-top: 75px !important;} .mgt80 {margin-top: 80px !important;} .mgt85 {margin-top: 85px !important;} .mgb0 {margin-bottom: 0px !important;}
.mgb5 {margin-bottom: 5px !important;} .mgb10 {margin-bottom: 10px !important;} .mgb15 {margin-bottom: 15px !important;} .mgb20 {margin-bottom: 20px !important;} .mgb25 {margin-bottom: 25px !important;} .mgb30 {margin-bottom: 30px !important;} .mgb35 {margin-bottom: 35px !important;} .mgb40 {margin-bottom: 40px !important;} .mgb45 {margin-bottom: 45px !important;} .mgb50 {margin-bottom: 50px !important;} .mgb55 {margin-bottom: 55px !important;} .mgb60 {margin-bottom: 60px !important;} .mgb65 {margin-bottom: 65px !important;} .mgb70 {margin-bottom: 70px !important;} 
.mgr0 {margin-right: 0 !important;} .mgr5 {margin-right: 5px !important;} .mgr10 {margin-right: 10px !important;} .mgr15 {margin-right: 15px !important;} .mgr20 {margin-right: 20px !important;} .mgr25 {margin-right: 25px !important;} .mgr30 {margin-right: 30px !important;} .mgr35 {margin-right: 35px !important;} .mgr40 {margin-right: 40px !important;} .mgr45 {margin-right: 45px !important;} .mgr50 {margin-right: 50px !important;} .mgr55 {margin-right: 55px !important;} .mgr60 {margin-right: 60px !important;} 
.mgl5 {margin-left: 5px !important;} .mgl10 {margin-left: 10px !important;} .mgl15 {margin-left: 15px !important;} .mgl20 {margin-left: 20px !important;} .mgl25 {margin-left: 25px !important;} .mgl30 {margin-left: 30px !important;} .mgl35 {margin-left: 35px !important;} .mgl40 {margin-left: 40px !important;} .mgl45 {margin-left: 45px !important;} .mgl50 {margin-left: 50px !important;}


select { background-color: #fff; border: 1px solid #efefef;}
input[type=checkbox] { margin: -2px 4px 0 0;}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea { -webkit-autofill: none; -webkit-appearance: none;}
input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea {
    border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
	padding: 5px 15px 4px; border: 1px solid #d4d4d4;
	width: 100%; box-sizing: border-box;
	background-color: #fff;
	-webkit-appearance: none;
	transition: all 0.2s linear;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="tel"], input[type="url"]:focus, textarea:focus{
	border-color: #e15d0b;
}

.form_wrap { border: 1px solid #efefef; background-color: #fafafa; padding: 17px; box-sizing: border-box; border-radius: 4px; max-width: 650px;}
.form input[type="text"], .form input[type="password"], .form input[type="email"], .form input[type="number"], .form input[type="tel"], .form input[type="url"], .form textarea {
    border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
	padding: 7px 10px 5px; border: 1px solid #d4d4d4;
	width: 100%; max-width: 100%; box-sizing: border-box;
	background-color: #fff;
	-webkit-appearance: none;
	margin-bottom: 10px;
	border-radius: 4px;
    font-size: 13px;
}
.form  table { width: 100%;}
.form .btn { padding: 10px 10px;}
.form .rate { padding: 9px 0;}
.form .rate:before, .form .rate:after { content: " "; display: table;}
.form .rate:after { clear: both;}
.form.nomodal h3, .form.nomodal .close { display: none;}
.form .btn { display: inline-block;}

.field1 { margin-bottom: 10px;}
.field1 label, .form label { margin-bottom: 5px; display: block;}


.btn { 
	color: #fff; border: none; text-decoration: none; text-align: center; line-height: 1; cursor: pointer; box-sizing: border-box;
	white-space: nowrap;
	border-radius: 4px;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.15s; -moz-transition: all 0.15s; transition: all 0.15s; 

}
.btn:hover { background: #e15d0b; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);}
.btn:active { background: #e15d0b; transform: translateY(1px); -moz-transform: translateY(1px); -webkit-transform: translateY(1px); }

.btn.btnnormal { padding: 5px 10px; }
.btn.btnmin { padding: 2px 10px; font-size: 12px;}


.catalog_btn { padding: 10px; font-weight: bold; font-size: 15px;}
.btn.btnblue, .btn.btnblue:active { color: #fff; background-color: #27ae60;}
.btn.btnblue:hover { background-color: #2ecc71;}
.btn.btnwhite { color: #2C3E50; background-color: #fff;}
.btn.btngrey { background: #777777;}
.btn.btngrey:hover { background: #999;}

.btn.disabled { background: none #d1d1d1 !important; border-color: #d1d1d1; box-shadow: none; color: #6d6d6d; }

.dropshadow { box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }

.full_description a { color: #e15d0b;}
.full_description a:hover { text-decoration: none;}
.full_description ul { margin-bottom: 15px;}
.full_description ul > li { position: relative; margin-bottom: 5px; padding-left: 8px;}
.full_description ul > li:before { content: ''; position: absolute; background-color: #3e91c5; display: block; width: 3px; height: 3px; left: 0; top: 10px;}
.full_description table td { padding: 8px 5px; text-align: center; border: 1px solid #d4d4d4;}
.full_description table tr:first-child td { text-transform: uppercase;}

#backToTop {
    background: transparent url("/img/back_to_top.png") no-repeat scroll 0 0;
    bottom: 82px;
    cursor: pointer;
    display: block;
    height: 40px;
    position: fixed;
    right: 25px;
    width: 40px;
    z-index: 101;
}


/*---------CSS-----------*/
/*-----------------------*/

.logo { display: inline-block; margin: 15px 0; }

.main_menu { 
    border-top: 1px solid #e2e4e7;
    border-bottom: 1px solid #e2e4e7;
    padding: 4px 0;
    margin-bottom: 40px;
}
.main_menu__list { text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom:1; text-align-last: justify; position: relative; z-index: 5;}
.main_menu__list:after { width: 100%; height: 0px; visibility: hidden; overflow: hidden; content: ''; display: inline-block;}
.main_menu__item { display: inline-block; text-align: left; line-height: normal; vertical-align: top; position: relative;}
.main_menu__link { 
    display: block; 
    height: 32px;
    line-height: 32px;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    color: #86b300;
}
































/*------BOOTSTRAP-------*/
.fade { opacity: 0; -webkit-transition: opacity .15s linear;  -o-transition: opacity .15s linear; transition: opacity .15s linear;}
.fade.in { opacity: 1;}

.tab-content > .tab-pane, .pill-content > .pill-pane { display: none;}
.tab-content > .active, .pill-content > .active { display: block;}


/*--------ACCORDION------------*/
.collapse.in {height: auto; opacity: 1;}
.collapse {
    height: 0;
    overflow: hidden;
    position: relative;
    opacity: 0;
    transition: all 0.35s ease 0s;
}

/*-----Carousel------*/
.carousel {  position: relative;}
.carousel .carousel-control { position: absolute; z-index: 3; color: #fff; font-size: 24px; opacity: 0.6; top: 50%; trasform: translateY(-50%);}
.carousel .carousel-control:hover { opacity: 0.8;}
.carousel .carousel-control.left { left: 0px;}
.carousel .carousel-control.right { right: 0px;}

.carousel-inner {  position: relative;  width: 100%;  overflow: hidden;}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 2.15s ease-in left, opacity 0.5s linear;
       -o-transition: 2.15s ease-in left, opacity 0.5s linear;
          transition: 2.15s ease-in left ,opacity 0.5s linear;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {  display: block !important;}
.carousel-inner > .active {  left: 0;}
.carousel-inner > .next,.carousel-inner > .prev {  position: absolute;  top: 0;  width: 100%;}
.carousel-inner > .next {  left: 100%;}
.carousel-inner > .prev {  left: -100%;}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {  left: 0;}
.carousel-inner > .active.left {  left: -100%;}
.carousel-inner > .active.right {  left: 100%;}



.carousel.fade  { opacity: 1;}
.carousel.fade .carousel-inner .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top:0;
  position:absolute;
  width: 100%;
  display:block !important;
  z-index:-1;
}
.carousel.fade .carousel-inner .item:first-child { top:auto; position:relative;}
.carousel.fade .carousel-inner .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index:0;
}
.carousel-indicators-block { z-index: 100;}



/*-----MODAL---------*/
.modal-open .modal { overflow-x: hidden; overflow-y: auto;}
.modal { 
    box-sizing: border-box;
    box-shadow: 0 1px 7vpx rgba(0, 0, 0, 0.3);
    padding: 15px;
    position: fixed;
    top: 10%;  right: 0;  left: 0;  z-index: 1050;  display: none;  overflow: hidden;  -webkit-overflow-scrolling: touch;  outline: 0; margin: auto; width: 100%; max-width: 500px; background-color: #fafafa;}
.modal .close {
 
    border: medium none;
    cursor: pointer;
    display: block;
    height: 12px;
    position: absolute;
    right: 25px;
    top: 10px;
    transition: all 0.3s linear 0s;
    width: 12px;
    font-size: 20px;
}

.modal-backdrop {  position: fixed;  top: 0;  right: 0;  bottom: -70px;  left: 0;  z-index: 1040;  background-color: #2C3E50;}
.modal-backdrop.fade { filter: alpha(opacity=0);  opacity: 0;}
.modal-backdrop.in {  filter: alpha(opacity=50);  opacity: .5;}
/*.modal-dialog {  margin: 30px auto;  width: 600px; position: relative;}*/

/*------TOOLTIP-------*/
.tooltip{position:absolute;z-index:1030;display:block;font-size:11px;line-height:1.4;opacity:0;filter:alpha(opacity=0);visibility:visible;white-space:nowrap;}.tooltip.in{opacity:1;filter:alpha(opacity=100)}.tooltip.top{padding:5px 0;margin-top:-3px}.tooltip.right{padding:0 5px;margin-left:3px}.tooltip.bottom{padding:5px 0;margin-top:3px}.tooltip.left{padding:0 5px;margin-left:-3px}.tooltip-inner{max-width:200px;padding:8px;color:#fff;text-align:center;text-decoration:none;background-color:#4995C6;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-top-color:#2C3E50;border-width:5px 5px 0}.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-right-color:#4995C6;border-width:5px 5px 5px 0}.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-left-color:#4995C6;border-width:5px 0 5px 5px}.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-bottom-color:#4995C6;border-width:0 5px 5px}

.dropdown:before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}
.dropdown:after {
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}
.dropdown {
    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: outside none none;
    margin: 2px 0 0;
    min-width: 160px;
    padding: 5px 0;
    position: absolute;
    top: 90%;
    z-index: 1000;
    border-radius: 3px;
    
}
:hover > .dropdown, :hover+.dropdown { display: block;}

.loading { position: relative;}
[class*="loader-"]:after, .loading:after {
    // background-color: #475771;
    color: inherit;
    content: "";
    display: inline-block;
    height: 3em;
    left: 0;
    margin: auto;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 15%;
    vertical-align: middle;
    width: 3em;
    z-index: 1;
}
.loader-02:after, .loading:after {
    border: .2em solid transparent;
    border-left-color: currentcolor;
    border-right-color: currentcolor;
    border-radius: 50%;
    animation: 1s loader-02 linear infinite;
}
.catalog_items.loading:after { top: 170px;}

@keyframes loader-02 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.fontA, h1, .h1, h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6, .main_menu, #catalog_item .buy_buttons a { font-family: Arial;}
.fontB, body { font-family: sans-serif;}


